//变量

//颜色
$white: #ffffff;
$grey: rgba(83,100,109,.6);
$teal: #00BA9E;
$dark: #666;
$white:#fff;
$red: #DB2828;
$orange:#fd6400;
$yellow:#FBBD08;
$olive:#B5CC18;
$green:#21BA45;
$teal:#00B5AD;
$blue:#2185D0;
$violet:#6435C9;
$purple: #A333C8;
$pink:#E03997;
$gray:#a0a0a0;
$black:#000;
$lightgrey:#83939a;
// 字体
$fontFamily:'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',Arial,sans-serif;
$fontSize: 12px;



//mixin
@mixin wh($w:100%,$h:100%) {
  width: $w;
  height: $h;
}

@mixin toe{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



//%