


.on-wrapp{

  /*menu right*/
  .on-menuR{
    .pr-title {
      height: 40px;
      line-height: 40px;
      background: #f7f8f9;
      font-weight: bold;
      font-size: 16px;
      border-left: 3px solid #1976e6;
      padding-left: 15px;
      margin-bottom: 20px;
      cursor: pointer;
      &:hover{
        background: #eaf4fc;
      }
      em {
        display: inline-block;
        background: url(../../static/img/OpenSer.png) no-repeat;
        float: right;
        margin: 17px 15px 0 0;
        cursor: pointer;
      }
      .pr-down {
        width: 10px;
        height: 6px;
        background-position: 0 -144px;
      }
      .pr-up {
        width: 6px;
        height: 10px;
        background-position: -13px -144px;
        margin: 15px 15px 0 0;
      }
    }
    .cirIcon {
      display: inline-block;
      width: 5px;
      height: 5px;
      background: url(../../static/img/OpenSer.png) 0 -154px no-repeat;
      vertical-align: middle;
      margin-right: 10px;
    }

    .pr-p1 {
      color: #666;
      line-height: 25px;
    }
    .ap-dash {
      border: none;
      border-top: 1px dashed #e2e3e4;
      margin: 20px 0;
    }
    .api-table{
      border: none;
      td:first-child{ width: 15%;}
      td:last-child{
        width:15%;}
      td{
        border: none;
        padding: 5px 20px;
        width: 22%;
        display: inline-block;
        height: 50px;
        overflow: hidden;
        line-height: 50px;
        text-overflow: ellipsis;
      }
      .api-img{
        width:45px;
        overflow: hidden;
      }

    }
  }

}
