//公共类，已"the-"开头
@import 'sass';

// 初始化
* {
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
  outline: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-x: auto !important;
  font-family: $fontFamily !important;
  min-width: 960px !important;
  .mCSB_outside + .mCSB_scrollTools {
    right: 1px;
    width: 3px;
  }
}

a {
  color: #000;
  text-decoration: none;
  &:hover {
    color: #ff7700;
    text-decoration: none;
  }
}

em, i {
  font-style: normal;
}

fieldset, img {
  border: 0;
}

img {
  vertical-align: top;
}

ul, ol {
  list-style: none;
}

button, input, select, textarea {
  font-size: 100%;
  outline: none
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.ui.button, h1, h2, h3, h4, h5, input,
.ui.accordion .title:not(.ui),
.ui.card > .content > .header,
.ui.cards > .card > .content > .header,
.ui.items > .item > .content > .header,
.ui.statistic > .label,
.ui.statistic > .value,
.ui.statistics .statistic > .label,
.ui.statistics .statistic > .value,
.ui.menu, .ui.message .header {
  font-family: $fontFamily !important;
}

.ui.mini.label, .ui.mini.button, .ui.input input, .ui.dropdown .menu, .ui.checkbox label {
  font-size: 12px !important;
  font-weight: 200;
}

.ui.menu {
  .ind-hd-span {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 1em;
    .info-image {
      width: 32px;
      height: 32px;
      display: block;
      img {
        width: 32px;
        height: 32px;
      }
    }
    .info-num {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      i {
        position: absolute;
        top: -5px;
        right: -5px;
        background: red;
        color: #FFFFFF;
        font-size: 12px;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5em;
        text-align: center;
        display: block;
        float: right;
        border-radius: 50%;
        -moz-transform: scale(0.7, 0.7);
        -webkit-transform: scale(0.7, 0.7);
        -o-transform: scale(0.7, 0.7);
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
  }

}

.hide {
  display: none;
}

.l {
  float: left;
}

.r {
  float: right;
}

.clearfix {
  zoom: 1;
  clear: both;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.w1190 {
  margin: 0 auto;
  min-width: 960px;
  width: 90%;
}

.p30 {
  padding: 30px !important;
}

.p10 {
  padding: 0 10px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.h30 {
  height: 30px !important;
}

.oh {
  overflow: hidden;
  position: relative;
}

.mb40 {
  margin-bottom: 40px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.gray {
  color: #888
}

.text-left {
  text-align: left;
}

.ui.form.devRegister {
  max-width: 300px;
  .field {
    > label {
      color: #888;
      //font-weight: normal;
    }
  }
}

.box-line {
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
  border-radius: .28571429rem;
  border: 1px solid rgba(34, 36, 38, .15);
}

.middle {
  text-align: center;
}

//top
.os-top {
  //height: 66px;
  background: #1976e6;
  min-width: 960px;
  overflow: hidden;
  .ui.menu {
    background: none;
    border: none;
    box-shadow: none;
    min-width: 960px;
    width: 90%;
    margin: 0 auto;
    .toc {
      padding-right: 3% !important;
    }
    .item {
      &:before {
        background: none;
      }
    }
    a.item {
      color: $white;
      border: none;
      box-shadow: none;
      height: 66px;
      line-height: 66px;
      font-size: 1em;
      padding: 13px;
      &:hover {
        background: #156fdc;
        transition: all .5s;
        color: $white;
      }
      span {
        font-size: 1.1em;
        min-width: 180px;
      }
    }
    .active.item {
      background: #156fdc;
      transition: all .5s;
      color: $white;
      &:hover {
        background: #156fdc;
        transition: all .5s;
        color: $white;
      }
    }

  }
  .os-Logo {
    width: 164px;
    background: url(../img/Logo.png) 0 no-repeat;
    background-size: 100%;
    height: 39px;
  }
  .os-loginIn {
    color: $white;
    padding-right: 15px;
    &:hover {
      color: $red;
    }
  }
  .loginUser {
    padding: 0 10px 0 0;
    color: #fff;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    top: 0;
  }
}

//footer
.footer {
  background: $white;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #e2e3e4;
  color: #999;
  line-height: 2em;
  min-width: 960px;
  font-size: $fontSize;
  width: 100%;
  p {
    text-align: center;
  }
  a {
    color: #999;
  }
}

//面包屑
.on-wrapp {
  .crumbs {
    .ui.breadcrumb {
      a.section {
        font-size: 1.14285714rem;
        color: #000;
      }
      .active.section {
        font-size: 1.14285714rem;
      }
    }
  }
}

//公共样式
.the-dn {
  display: none !important;
}

.the-hid {
  visibility: hidden !important;
}

// 工具类
.the-borderless {
  box-shadow: none !important;
  border: none !important;
}

.the-text-left {
  text-align: left !important;
}

.the-z1200 {
  z-index: 1200 !important;
}

.the-p0b0 {
  padding: 0 !important;
  border: 0 !important;
}

.the-wpm0 {
  width: 100% !important;
  margin: 0 !important;
}

.the-ml10 {
  margin-left: 10px !important;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #aaa;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, .7);
}

.the-bdrs-spc1 {
  border-radius: 0.28571429rem !important;
}

//滚动条
.the-scrollbar {
  > .mCSB_outside {
    + .mCSB_scrollTools {
      display: block;
      width: 6px;
      right: 0;
    }
  }
}

.mCSB_inside > .mCSB_container {
  margin-right: 15px !important;
  .ui.input.action {
    width: 95%;
    .refresh {
      margin-top: 0 !important;
    }
  }
}

//表格
.the-table-wrap {
  overflow: hidden;
  background-color: rgb(244, 245, 246);
  padding: 0 2em;

  .the-table-search {
    border: none;
    box-shadow: none;

    .header {
      background-color: rgb(14, 23, 29);
      color: $white;

    }

    > .span {
      text-align: center;
      padding: 0 20px;
      color: #777;

      .text {
        line-height: 17px;
        padding-top: 3px;
      }
      .num {
        line-height: 17px;
        padding-bottom: 3px;
      }
    }
  }
}

.the-table-con {
  z-index:0;
  font-size: 12px;
  .ui[class*="top attached"].table {
    border-radius: 5px 5px 0 0;
  }
  .ui.table {
    thead {
      tr:first-child > th:last-child {
        border-radius: 0 5px 0 0;
      }
    }
  }
  .ui[class*="bottom attached"].table, .ui.table tfoot tr:first-child > th:only-child {
    border-radius: 0 0 5px 5px;
  }
  [ids="tablePa"] {
    .ui.striped.table {
      tbody {
        tr:nth-child(2n) {
          background-color: #f1f2f4 !important;
        }
        td {
          .label {
            margin: 0;
            padding: 5px;
            font-size: $fontSize;
            font-weight: 100;
            min-width: 35px;
            text-align: center;
            max-width: 100%;
          }
        }
      }
      .ui.striped.table > tr {
        &:nth-child(2n) {
          background-color: #f1f2f4 !important;
        }
      }
      .ui.button {
        padding: 5px;
        font-size: .5em;
        font-family: $fontFamily;
        font-weight: normal;
      }
      .ui.table {
        thead {
          th {
            color: #363f44;
            font-weight: normal;
          }
        }
        tr {
          td {
            color: #767676;
            font-size: 12px;
          }
        }
      }
    }
  }
  thead {
    tr {
      &:first-child {
        > th {
          &:first-child {
            border-radius: 5px 0 0 !important;
          }
        }
      }
    }
  }

  span.ui.label {
    font-weight: normal;
    padding: 5px 10px;
  }
  .mCSB_scrollTools {
    right: -6px;
    width: 12px;
  }

  .ui.grid > & {
    padding-top: 0;
  }

  .ui.checkbox.fitted {
    vertical-align: middle;
  }

  .ui.attached.table {
    border: none;

    th {
      cursor: pointer;
    }

    th.left.aligned {
      width: 30px;
    }
    [ids="titleStr"] {
      font-size: 14px;
    }
    .table-white {
      background: $white;
      color: #363f44;
      .the-table-fr {
        width: auto;
      }
    }

    .the-table-tool {
      border: none;
      background-color: $white;
      .button {
        font-size: 12px;
      }
      .ui.mini.input {
        height: 28px;
        font-size: 12px;
      }
      input {
        font-size: 12px;
      }
      [ids="searchInp"] {
        width: 100px;
        padding: 2px 5px;
        color: rgba(0, 0, 0, .6);
      }
    }

    .the-table-th {
      position: relative;
      font-size: 13px;
      > i {
        color: rgba(83, 100, 109, 0.6);
        position: absolute;
        padding: 2px 0 0 6px;
      }
    }

    .the-table-ord {
      min-width: 10px;
      width: 10px;
      text-align: left;
      color: #999;
    }

    .the-table-td {
      position: relative;

      > i {
        position: absolute;
        padding: 2px 0 0 6px;
      }
    }
  }

  .the-tfoot-menu {
    min-height: 32px;
    border: none;
    box-shadow: none;
    font-size: 12px;

    .item {
      height: 32px;
      padding-left: 14px;
      padding-right: 14px;

      .notched.circle.loading {
        margin-right: 0;
      }
    }

    .tfoot-page-number {
      width: 6em;
      min-height: 0;
      padding-top: 0.8em;
      padding-bottom: 0.7em;
      margin-right: .3em;
    }

    .ui.mini.label {
      line-height: 1.3;
      font-weight: normal;
      padding-top: 0.8em;
      font-size: 12px;
    }

    .tfoot-pagecon-wrap {
      max-height: none !important;
    }

    .tfoot-page-list {
      overflow: hidden;
      overflow-y: auto;
      height: 19em;

      .mCSB_outside + .mCSB_scrollTools {
        right: -7px;
      }
    }
  }
}

.the-table-fr {
  float: right;
  height: 28px;
  font-size: 12px;
  [ids="titleSearchInp"] {
    width: 100px !important;
    padding: 2px 5px;
    color: rgba(0, 0, 0, .6);
  }
  input[type="text"] {
    margin: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-align: left;
    line-height: 1.2142em;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    padding: .67861429em 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    -webkit-transition: box-shadow .1s ease,border-color .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease;
    box-shadow: none;

  }
}

//下拉
.the-dropdown-check {
  overflow-y: auto;
  width: auto;
  max-width: 160px;
  max-height: 245px;
  white-space: normal !important;

  .mCSB_outside + .mCSB_scrollTools {
    right: -8px;
  }
}

.the-dropdown-col {
  width: 100%;
  padding: 11px 1.14285714rem 7px;
  cursor: pointer;

  label {
    @include toe;
  }
}

//搜索按钮下拉样式
.menu.transition.visible {
  .the-dropdown-search {
    input, .dropdown.selection {
      border: none !important;
      border-radius: 0 !important;
      border-bottom: 1px solid rgba(34, 36, 38, .1) !important;
      margin-bottom: 1px;
    }
    .dropdown.the-droptree {
      border: none;
      .dropdown.icon {
        padding-top: 15px;
      }
    }
    .ui.dropdown {
      > .default.text {
        color: rgba(0, 0, 0, .4);
      }
      .menu {
        > .item {
          font-size: 12px;
        }
      }
    }
  }
}

.the-dropdown-search {
  // overflow-y: auto;
  width: auto;
  max-width: 200px;
  max-height: 262px;
  white-space: normal !important;

  > .input {
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 1.14285714rem 0.71428571rem;
    min-width: 10rem;
  }

  .datetimepicker {
    width: 100%;
  }

  .ui.dropdown {
    .menu {
      top: 100% !important;
      left: -1px !important;
      margin: 0 !important;
      &.tree-content {
        width: 100px !important;
        margin-top: 1px !important;
        input {
          width: 50px !important;
        }
        .input.action {
          border-top: 1px solid $teal !important;
        }
        .mCSB_container {
          margin-right: 0 !important;
        }
        .mCustomScrollBox {
          border-top: 1px solid $teal;
        }
      }
    }
  }
  [ids="search"] {
    width: 100px;
  }
}

.the-dropdown-clear {
  padding: 0.2rem 1.14285714rem 0.71428571rem;
}

.ui.table {
  font-size: 14px;
}

//表头边框颜色
.the-round {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 5px;
  background-color: $teal;
  vertical-align: middle;
  &.red {
    background-color: $red;
  }
  &.orange {
    background-color: $orange;
  }
  &.yellow {
    background-color: $yellow;
  }
  &.olive {
    background-color: $olive;
  }
  &.green {
    background-color: $green;
  }
  &.teal {
    background-color: $teal;
  }
  &.blue {
    background-color: $blue;
  }
  &.violet {
    background-color: $violet;
  }
  &.purple {
    background-color: $purple;
  }
  &.pink {
    background-color: $pink;
  }
  &.grey {
    background-color: $grey;
  }
}

.the-top-line {
  .ui.red.table {
    border-top: .2em solid $red !important;
  }
  .ui.orange.table {
    border-top: .2em solid $orange !important;
  }
  .ui.yellow.table {
    border-top: .2em solid $yellow !important;
  }
  .ui.olive.table {
    border-top: .2em solid $olive !important;
  }
  .ui.green.table {
    border-top: .2em solid $green !important;
  }
  .ui.teal.table {
    border-top: .2em solid $teal !important;
  }
  .ui.blue.table {
    border-top: .2em solid $blue !important;
  }
  .ui.violet.table {
    border-top: .2em solid $violet !important;
  }
  .ui.purple.table {
    border-top: .2em solid $purple !important;
  }
  .ui.pink.table {
    border-top: .2em solid $pink !important;
  }
  .ui.grey.table {
    border-top: .2em solid $grey !important;
  }
}

.the-form-table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  td {
    padding: 5px 10px;
    input, textarea, .ui.input {
      width: 100%;
    }
  }
}

.the-form-label {
  color: #999;
  width: 300px;
  height: 20px;
  line-height: 20px;
  text-align: left;
  font-size: 12px;
  margin: 10px auto 0;
  .label.right {
    height: 20px;
    line-height: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

textarea {
  resize: none !important;
}

.tree-content {
  .ui.input.action {
    width: auto !important;
  }
}

// jstree样式重写
.jstree-default {
  .jstree-clicked {
    background: none !important;
    color: $black !important;
    box-shadow: none !important;
    padding: 0 !important;
    font-weight: 700 !important;
    &.jstree-disabled {
      color: $gray !important;
    }
  }
  // unchecked icon
  .jstree-anchor > .jstree-checkbox {
    position: relative;
    margin-top: 3px;
    margin-right: 5px;
    background: none;
    background-image: none;
    width: 17px;
    height: 17px;
    background: $white;
    border-radius: .21428571rem;
    -webkit-transition: border .1s ease,opacity .1s ease,-webkit-transform .1s ease,box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease;
    border: 1px solid #d4d4d5;
  }
  // undetermined icon
  .jstree-anchor > .jstree-undetermined.jstree-checkbox {
    &:after {
      content: ' ';
      opacity: 1;
      background-color: rgba(0,0,0,.65);
      border-radius: 2px;
      position: absolute;
      font-size: 13px;
      top: 6px;
      left: 3px;
      width: 9px;
      height: 3px;
      text-align: center;
      -webkit-transition: border .1s ease,opacity .1s ease,-webkit-transform .1s ease,box-shadow .1s ease;
      transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease;
      font-family: Checkbox;
    }
  }
  // checked icon
  .jstree-anchor.jstree-clicked {
    > .jstree-checkbox {
      &:after {
        content: '\e800';
        opacity: 1;
        color: rgba(0,0,0,.95);
        position: absolute;
        font-size: 13px;
        top: -4px;
        left: -2px;
        width: 17px;
        height: 17px;
        text-align: center;
        -webkit-transition: border .1s ease,opacity .1s ease,-webkit-transform .1s ease,box-shadow .1s ease;
        transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease;
        font-family: Checkbox;
      }
    }
    &.jstree-disabled {
      > .jstree-checkbox {
        &:after {
          color: $gray !important;
        }
      }
    }
  }
}
.card {
  width: 100% !important;
  .image {
    position: relative !important;
    background: #000 !important;
    .dimmer {
      .progress {
        display: none;
        margin: 0 20px;
      }
    }
  }
}

// semantic样式重写
.ui.dimmer {
  z-index: 2000;
}

.ui.modal {
  &.small {
    width: 600px;
    margin: 0 0 0 -300px;
  }
  .content.ui.form {
    &.the-fluid-form {
      width: 100%;
    }
    width: 340px;
    margin: 0 auto;
    .field {
      label {
        text-align: left;
        color: #888;
        font-weight: normal;
      }
    }
  }
  .content, .header {
    text-align: center;
    border-bottom: none;
  }
  > .close {
    top: 13px;
    right: 10px;
  }
}

.the-form-btn {
  width: 300px;
}

.right.floated {
  float: right;
}

.left.floated {
  float: left;
}

.ui.hidden.divider {
  display: block !important;
}

.divhig {
  height: 10px;
}

.ui.input.transparent.disabled, input.transparent.disabled, textarea.transparent.disabled {
  input {
    opacity: .8;
    color: #333 !important;
  }
  color: #333 !important;
  opacity: .8 !important;
  border: none !important;
  background: 0 0 !important;
  pointer-events: none;
}

.progress {
  .bar {
    .percents {
      line-height: 24px;
    }
  }
}

#uploadExcle {
  .progress {

    width: 212px !important;
    display: inline-block;
  }
}

.ui.button.error {
  background-color: $white !important;
  border: 1px solid #9f3a38;
  color: #9f3a38 !important;
}

.ui.labeled.input.error {
  input {
    background: $white;
    border-color: #9f3a38;
    color: #9f3a38;
    outline: none;
  }

  .ui.basic.label {
    border-left: none;
    border-color: #9f3a38;
    color: #9f3a38;
    font-weight: normal
  }
}

.ui.dropdown {
  .jstree.jstree-default {
    text-align: left;
    margin-top: 10px;
    padding-left: 10px;
  }
  .tree-value {
    display: none;
  }
  &.multiple {
    .menu {
      .header {
        text-align: left;
        color: $teal;
        font-size: 14px;

        &.orange {
          color: #fd6400;
        }
      }
    }
  }
}

// alert.js生成的modal样式
.the-modal.ui.modal {
  width: 500px !important;
  .actions {
    text-align: center;
    background-color: $white;
    border-top: none;
    .ui.button {
      margin-bottom: 0;
      width: 300px;
      &.error-btn {
        background-color: $white;
        border: 1px solid #d01919;
        color: #d01919;
      }
      &.success-btn {
        background-color: $white;
        border: 1px solid $teal;
        color: $teal;
      }
    }
  }
}

// 下拉树
.the-droptree {
  &.ui.selection.dropdown.active {
    z-index: 100;
  }
  &.multiple {
    max-height: 70px;
  }
  .tree-content {
    max-height: 24rem !important;
    .ui.input.action {
      width: 100% !important;
      padding: 5px 10px;
      margin: 0;
    }
    .jstree.jstree-default {
      height: 220px;
      margin-top: 5px;
      margin-bottom: 5px;
      overflow: auto;
    }
    > .mCSB_inside > .mCSB_container {
      margin-right: 0 !important;
    }
  }

  > .button.fluid[ids="clear"] {
    margin-top: 10px;
    margin-bottom: 0 !important;
  }
  .button[ids="btnRefresh"] {
    margin: 0 !important;
  }
  .the-droplabel {
    border: 1px solid #ddd;
    padding: 5px 10px;
    color: #666;
    font-weight: 700;
    border-radius: 3px;
    display: inline-block;
    margin: 2px 3px 0;
    background-color: #fdfdfd;
  }
  .menu {
    .active.item {
      font-weight: normal !important;
    }
    input {
      width: auto !important;
    }
    .droptree-foot {
      padding: 5px 10px;
    }
    > .divider {
      margin: 0 !important;
    }
  }
  .jstree-default .jstree-clicked, .jstree-default .jstree-clicked.active.item {
    font-weight: 700 !important;
  }
  .icon.refresh {
    margin-top: -13px !important;
  }
}

// slick轮播样式改写
.slick {
  text-align: center;
}

dd {
  display: block;
  -webkit-margin-start: 40px;
}

/*wrapp*/

.on-wrapp {
  background: #f1f2f4;
  min-width: 960px;
  min-height: 600px;
  width: 100%;
  overflow: hidden;
  .on-title {
    padding: 30px 0 20px 0;
    font-size: 1.14285714rem;
    color: #333;
    font-weight: 400;
    .active.section {
      font-weight: 400;
    }
  }
  .crumbs {
    font-size: 14px;
  }
  .on-menuL, .on-menuR {
    min-height: 580px;
    height: auto !important;
  }
  /*menu left*/
  .on-menuL {
    width: 238px;
    border: 1px solid #e2e3e4;
    border-top: 1px solid #1976e6;
    font-size: 14px;
    float: left;
    background: #f7f8f9;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    position: relative;
    min-height: 580px;
    .child-menu {
      > dl {
        cursor: pointer;
        .parent-li {
          padding: 12px 15px;
          border-top: 1px solid #e2e3e4;
          &:hover {
            background: #eaebec;
          }
          a {
            color: #333;
          }
        }
        .child-parent {
          padding: 0;
          margin: 0;
          > ul {
            border-top: 1px solid #e2e3e4;
            padding: 0;
            > li {
              border-top: none;
              padding: 0;
              &:hover {
                background: #eaebec;
              }
              a {
                padding: 0 0 0 45px;
                color: #666;
                height: 44px;
                line-height: 44px;
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 200px;
              }
            }
          }

        }
      }
      .se-menuIcon {
        display: inline-block;
        width: 9px;
        height: 7px;
        background: url(../../static/img/leftbg.png) no-repeat;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 10px;
      }
      .se-icon {
        background-position: -37px 0;
      }
      .se-icon1 {
        background-position: -28px 0;
      }
      .se-icon2 {
        position: absolute;
        right: 0;
        top: 19px;
        background-position: 0px -75px;
        width: 10px;
        height: 10px;
      }
    }
    ul li {
      padding: 12px 15px;
      border-top: 1px solid #e2e3e4;
      position: relative;
      cursor: pointer;
      color: #333;
    }
    .on-menuOn {
      background: #1976e6;
      color: $white;
      &:hover {
        background: #1976e6 !important;
        color: $white;
      }
      a {
        color: $white !important;
      }

    }
    .se-icon2 {
      background-position: -13px -75px !important;
    }
  }
  /*menu right*/
  .on-menuR {
    background: $white;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    margin-left: 240px;
    .on-title {
      font-size: 20px;
      font-weight: bold;
      color: #333;
    }
    .on-hr {
      height: 1px;
      background: #e2e3e4;
      width: 100%;
      margin-top: 25px;
    }
  }
  .menuLRH {
    width: 240px;
    height: 0;
    background: #f5f6f7;
    overflow: hidden;
    position: absolute;
    border-top: 1px solid #e2e3e4;
    bottom: 0;
  }
}

//表单验证错误提示样式
.ui.form .field {
  position: relative;
}

.ui.form .field .prompt.label {
  white-space: normal;
  background: $white !important;
  border: 0 !important;
  color: #9f3a38 !important;
  position: absolute;
  top: -15px;
  right: 0;
}
#cominforModel{
  .ui.form .field .prompt.label {
    top: -16px;
  }
}

.ui.pointing.label:before {
  display: none;
}

//表单验证错误提示样式
.red-border {
  border-color: #e0b4b4 !important;
}

.ui.input.error input {
  background-color: #fff6f6 !important;
  border-color: #e0b4b4 !important;
  color: #9f3a38 !important;
  box-shadow: none;
}

//弹窗背景
.dimmable > .dimmer {
  background-color: rgba(0, 0, 0, .6);
}

// 固定弹窗高度
.the-modal-height {
  height: 480px;
  > .header {
    padding: 1.25rem 1.5rem 0.25rem !important;
  }
  > .close {
    top: 5px !important;
  }
  > .content {
    padding: 0.5rem 1.5rem !important;
  }
}

.the-datagrid-td {
  max-width: 250px;
  word-wrap: break-word;
}

// 日期控件样式
.glyphicon.icon-arrow-left, .glyphicon.icon-arrow-right {
  color: $dark;
  height: 16px;
  width: 16px;
  font-style: normal;
}
.glyphicon.icon-arrow-left {
  &:before {
    content: "◁";
  }
}
.glyphicon.icon-arrow-right {
  &:before {
    content: "▷";
  }
}

//系统通知样式
.system-Informs {
  width: 100%;
  display: none;
  background: rgb(242, 242, 242);
  padding: 0 60px !important;
  margin: 0 !important;
  border-radius: 0;
  .close.icon {
    top: 0 !important;
    right: 0 !important;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
  }
  p {
    margin: 0 !important;
    height: 30px !important;
    line-height: 30px !important;
  }
  .text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

//appKey
#viewAuth {
  .data-title {
    height: 2em;
    .app-key {
      padding-left: 2em;
    }
  }
}

#updateAppKey {
  .data-title {
    height: 2em;
    .app-key {
      padding-left: 2em;
    }
  }
}

// 隐藏所有带有权限控制dom节点
.role-hide {
  //display: none !important;
}

//修复dropdown与日期插件大小不一致
.apvFixInp {
  font-size: 12px;
  min-width:7em!important;
}
//应用信息canvas多出-1emmargin
.marFix{
  margin:0!important;
}
//appsubmit与appedit中付费价格
.height-fix{
  height:36px;
}

//企业信息 上传

.ui.card.enInfo>.image>img, .ui.cards.enInfo>.card>.image>img{
  display: block;
  width: 65%;
  height: auto;
  border-radius: inherit;
}