body > object {
  display: none; }

.login .gray, .register .gray {
  color: #a0a0a0; }

.login .clear, .register .clear {
  clear: both; }

.login .logo a:hover, .register .logo a:hover {
  color: #000; }

.login .ui.header, .register .ui.header {
  min-width: 960px; }

.login .ui.header.inline-header, .register .ui.header.inline-header {
  min-width: 100%; }

.login #header, .register #header {
  padding-top: 20px;
  margin: 0; }
  .login #header h2, .register #header h2 {
    color: #3c3c3c;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px; }
  .login #header .text, .register #header .text {
    position: relative;
    top: 18px; }
  .login #header .back-home, .register #header .back-home {
    vertical-align: bottom; }

.login .content.y-row, .register .content.y-row {
  position: relative;
  margin-top: 95px;
  min-height: 400px;
  vertical-align: middle;
  *padding-top: 100px; }

.login .y-row, .register .y-row {
  min-width: 960px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1; }

.login .bottom, .register .bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  color: #999; }
  .login .bottom .divider, .register .bottom .divider {
    margin: 0; }
  .login .bottom .segment, .register .bottom .segment {
    border: none;
    box-shadow: none;
    margin-top: 0; }

.login .ui .column .form, .register .ui .column .form {
  max-width: 300px; }
  .login .ui .column .form .field .input .code-bg, .register .ui .column .form .field .input .code-bg {
    position: relative; }
  .login .ui .column .form .field .input .code, .register .ui .column .form .field .input .code {
    position: absolute;
    right: 0; }
    .login .ui .column .form .field .input .code .image, .register .ui .column .form .field .input .code .image {
      width: 70px;
      padding: 5px; }
  .login .ui .column .form .field .icon .refresh, .register .ui .column .form .field .icon .refresh {
    color: #a8a8aa;
    position: relative;
    top: 2px; }

.login .ui .column .red, .register .ui .column .red {
  color: #B03060;
  cursor: pointer; }

.login .ui .error .message, .register .ui .error .message {
  max-height: 75px;
  line-height: 25px;
  padding: 0 10px;
  overflow: hidden; }

.login .ui .pop, .register .ui .pop {
  padding: 40px 0 80px; }

.login .ui .modal > .close, .register .ui .modal > .close {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 2rem; }

.login .ui .modal > .header, .register .ui .modal > .header {
  border: none; }
  .login .ui .modal > .header .button, .register .ui .modal > .header .button {
    height: 55px;
    width: 300px; }
    .login .ui .modal > .header .button p, .register .ui .modal > .header .button p {
      font-size: 12px;
      font-weight: 300;
      opacity: .8;
      -ms-filter: "alpha(Opacity=80)";
      line-height: 20px; }

.login .ui .register, .register .ui .register {
  padding-bottom: 100px; }
  .login .ui .register .form .field .hint, .register .ui .register .form .field .hint {
    position: absolute;
    right: 10px;
    line-height: 37px; }
  .login .ui .register .form .field .list, .register .ui .register .form .field .list {
    border-left: 3px solid #21ba45;
    line-height: 15px;
    text-indent: 5px;
    margin-bottom: 10px; }
  .login .ui .register .form .back, .register .ui .register .form .back {
    margin-top: 20px; }

.login .ui .progress, .register .ui .progress {
  margin: 1em 0; }

.login .ui .account, .register .ui .account {
  padding-bottom: 0; }
  .login .ui .account .six .form, .register .ui .account .six .form {
    padding-top: 50px; }
    .login .ui .account .six .form .label, .register .ui .account .six .form .label {
      margin: 10px 0 20px; }

.login .ui.action.input .w100, .register .ui.action.input .w100 {
  width: 100px !important; }

.login #versionObj {
  position: absolute; }

.login .modal.visible.active .content {
  margin-top: 0;
  min-height: 286px; }

.register .reg-qy .ui.large.steps {
  width: 800px;
  margin-top: -20px; }

.register .reg-qy .cent-text {
  margin: 0 auto;
  width: 560px;
  padding-top: 30px; }

.register .reg-qy .ui .column .form {
  max-width: 500px; }
  .register .reg-qy .ui .column .form .two.fields .field {
    width: 253px; }

.register .reg-qy .imgadd {
  width: 240px;
  height: 150px;
  margin: auto;
  display: block; }
  .register .reg-qy .imgadd i.icon {
    padding-top: 60px; }

.register .imgadd {
  background: #f6f6f6;
  border: 1px solid #ccc;
  width: 100%;
  height: 144px; }
  .register .imgadd i.icon {
    font-size: 2em;
    padding: 60px 44px; }

.register .ui.popup {
  padding: 5px;
  width: 300px;
  max-width: 300px; }
  .register .ui.popup img {
    width: 100%;
    height: 300px;
    right: 0; }

.register .ui.steps .step .title {
  font-weight: 400; }

.register .ui.steps .step .green {
  color: #21BA45; }

.register .ui.checkbox label.gray {
  color: #888;
  font-weight: 200; }
  .register .ui.checkbox label.gray a {
    color: #888; }
    .register .ui.checkbox label.gray a:focus, .register .ui.checkbox label.gray a:hover {
      color: #666;
      text-decoration: none;
      font-weight: 200;
      outline: none; }

.register .mt24 {
  margin-top: 24px; }

.register .reg-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  line-height: 50px;
  margin-bottom: 60px;
  width: 300px;
  margin-left: -150px; }

.register .ui.modal .text {
  height: 300px;
  overflow-y: auto; }
  .register .ui.modal .text p {
    text-indent: 30px; }

.ui.form .fields .field.dimmable {
  position: relative;
  padding-right: 0;
  padding-left: 0; }
  .ui.form .fields .field.dimmable > .ui.simple.dimmer.img-up-dimmer {
    position: absolute;
    left: 50% !important;
    min-width: 240px;
    width: 240px;
    height: 150px;
    margin-left: -120px !important;
    border-radius: .28571429rem; }

.ui.form .fields .field.dimmable.regDevImg {
  width: 230px;
  min-width: 140px;
  margin-right: 30px; }
  .ui.form .fields .field.dimmable.regDevImg .ui.simple.dimmer {
    min-width: 140px;
    width: 140px;
    height: 142px;
    margin-left: 1px !important;
    margin-top: 24px;
    border-radius: .28571429rem; }

.show-up-img {
  max-width: 100%;
  max-height: 100%; }

.upload-field.dimmable.dimmed {
  cursor: pointer; }

/*# sourceMappingURL=login.css.map */
